<h3>Welcome to Sinatra! Today is LAB</h3>
<form action="/submit" method="POST">
	<input type="text" name="current_event[name]" value="Enter Event Name" />
  <input type="date" name="current_event[date]" value="Enter Event Date" />

	<input type="submit" value="Submit" />
</form>
