<h3>Welcome to Sinatra! Please add an event!</h3>
<form action="/submit_e" method="POST">
	Event Name:<input type="text" name="current_event[name]" value="Enter Event Name" />
  Event Date:<input type="date" name="current_event[date]" value="Enter Event Date" />

	<input type="submit" value="Submit" />
</form>
<a href="/">Go back to homepage!</a>
