<h3>Welcome to Sinatra! Today is LAB</h3>
<p>Hello!Nice to meet you!</p>
<a href="/event/new">Let's add a new event!</a>
<a href="/person/new">Let's add a new person!</a>
<a href="/registration/new">Let's add a new registration!</a>
