<h3>Welcome to Sinatra! Please add a person!</h3>
<form action="/submit_p" method="POST">
	Name:<input type="text" name="current_person[name]" value="Enter Person Name" />
  Birthday:<input type="date" name="current_person[date_of_birth]" value="Enter birthday" />
	Gender:<input type="text" name="current_person[gender]" value="Enter Person Gender" />
	Zipcode:<input type="number" name="current_person[zipcode]" value="Enter Zipcode" />

	<input type="submit" value="Submit" />
</form>
<a href="/">Go back to homepage!</a>
