<h3>These are the People!</h3>
<ol>
  <% i = 0 %>
<% @person_list.each do |pers| %>
	<li>
    ......
		<strong><%= pers.name %></strong>
    Birthday:<%= pers.date_of_birth %>
    Gender:<%= pers.gender %>
    <% temp_zip=pers.zipcode.to_s %>
    Zipcode:<%= '0'*(5-temp_zip.length)+temp_zip %>
	</li>
<% end %>
</ol>
<a href="/">Hello go back to add a new one!</a>
