<h3>Welcome to Sinatra! Please add a registration!</h3>
<form action="/submit_r" method="POST">
	Person_id:<input type="number" name="current_registration[person_id]" value="Enter person_id" />
  Event_id:<input type="number" name="current_registration[event_id]" value="Enter event_id" />
  Status:<select type="text" name="current_registration[status]">
    <option value="coming">coming</option>
    <option value="not coming">not coming</option>
    <option value="maybe">maybe</option>
  </select>
	<input type="submit" value="Submit" />
</form>
<a href="/">Go back to homepage!</a>
